@import url("./base.css");
.container-conteudo-img {
    max-width: 100%;
    margin: 20px auto;
    padding: 1rem;
}


.imagem {
    float: right;
    margin-left: 15px;
    margin-top: 35px;
}

.imagem img {
    width: 350px;
    height: auto;
}

.texto {
    text-align: justify;
}

.container-conteudo-img:after {
    content: "";
    display: table;
    clear: both;
}


@media (max-width: 768px) {
    .imagem {
        float: none;
        margin: 0 auto 10px auto;
        display: block;
    }
    .imagem img {
        width: 100%;
    }
    .texto {
        text-align: justify; 
    }
}