@import url("./container.css");
@import url("./centaury-display.css");
@import url("./base.css");

.container-titulo {
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 100%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.titulo {
    background-color: var(--secondary-color);
    padding: 15px 20px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
}

.texto {
    font-size: 18px;
    color: #333;
    font-family: sans-serif;
    line-height: 1.5;
    text-align: justify;
}

.imagens-pagina {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.container-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.container-conteudo-texto {
    flex: 1;
    font-size: 18px;
    color: #333;
    font-family: sans-serif;
    line-height: 1.5;
    text-align: justify;
    max-width: 100%;
}

.container-conteudo-img {
    flex: 1;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    margin-block: 0.75rem;
}

@media screen and (max-width: 768px) {
    .titulo {
        font-size: 35px;
        padding: 10px 15px;
    }
    
    .texto {
        font-size: 16px;
    }
    
    .container-conteudo {
        flex-direction: column;
        text-align: center;
    }
    
    .container-conteudo-texto {
        max-width: 100%;
    }
    
    .container-conteudo-img {
        width: 100%;
        height: auto;
    }
}
