@import url("./container.css");
@import url("./centaury-display.css");
@import url("./base.css");

.equipe-titulo{
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    font-size: 2.5rem;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}

.equipe-titulo img{
    width: 60px; 
    height: 60px;
}

.equipe-descricao{
    display: flex;
    text-align: justify;
    align-items: center;
    gap: 2rem;
}

.equipe-descricao-img{
    width: 400px;
}

.equipe-membros{
    display: flex;
    justify-content: space-between;
}

.equipe-membros img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.equipe-membros img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

