@import url("./base.css");

.imagens-pagina {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem auto;
}

.container-texto-grafico {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 1000px;
    margin: 2rem auto;
    text-align: justify;
}

.grafico-container {
    text-align: center;
}

.grafico-pizza {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: conic-gradient(
        #86E3CE 0% 33.9%,
        #67B0D1 33.9% 63.2%,
        #4A90A4 63.2% 77.4%,
        #365F8B 77.4% 88.9%,
        #222C59 88.9% 100%
    );
    margin: 20px auto;
}

.grafico-pizza-titulo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.legenda {
    list-style: none;
    text-align: left;
    display: inline-block;
    margin-top: 0;
    padding-left: 0;
}

.legenda li {
    margin: 5px 0;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.cor {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 3px;
}

.cor1 { background: #86E3CE; }
.cor2 { background: #67B0D1; }
.cor3 { background: #4A90A4; }
.cor4 { background: #365F8B; }
.cor5 { background: #222C59; }

.fontes {
    font-size: 15px;
    font-style: italic;
    margin-top: 10px;
    text-align: center;
    color: #666;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: var(--primary-color);
    color: white;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

tbody tr {
    background-color: #D6EAF8;
}

tbody tr:nth-child(even) {
    background-color: #b8d3e6;
}


@media (min-width: 768px) {
    .container-titulo {
        flex-direction: row;
        justify-content: space-between;
    }

    .container-texto-grafico {
        flex-direction: row;
        justify-content: space-between;
    }

    .container-conteudo {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 480px) {
    .titulo {
        font-size: 2rem;
    }

    .texto {
        font-size: 0.9rem;
        padding: 0 1rem;
    }

    .grafico-pizza {
        width: 250px;
        height: 250px;
    }

    th, td {
        font-size: 16px;
    }

}